<a href="{% url 'admin_page' %}">Main page</a>

<h2>Lista predmeta</h2>
<a href="/dodaj_predmet">Novi predmet</a><br><br>
<table>
    <thead>
    <tr>
        <th>Kod</th>
        <th>Ime</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for p in predmeti %}
        <tr>
            <th>{{p.kod}}</th>
            <td><a href="{% url 'predmet' p.id %}">{{p}}</a></td>
            <td><a href="{% url 'edit_predmet' p.id %}">Edit</a></td>
            <td><a href="{% url 'delete_predmet' p.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<br>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>